body {
  margin: 0;
}
a {
  color: #000;
}

/* header */

.header {
  background-color: #000;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}
.header ul {
  margin: 0;
  list-style: none;
  overflow: hidden;
  background-color: #000;
  margin-right:100px;
}
.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}
.header .logo{
  display: block;
  float: left;
  font-size: 2em;
  text-decoration: none;
  width:165px;
  margin-left: 20px;
}
/* menu */
.menu a{
  color:#fff;
  background:#000;
  font-size:18px;
  font-family:arial;
  width:50px;
}
.menu a:hover{
  color:red;
}
.menu li{
  margin-top: 11px;
  background:#000;
}
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
}
.header .menu-icon .nav-icon {
  background: #fff;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 50px;
  margin-top: 11px;
  
}
.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.header .menu-icon .nav-icon:before {
  top: 11px;
}
.header .menu-icon .nav-icon:after {
  top: -11px;
}
/* menu btn */

.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}
/**********CONTAINER*****************************/
.container img{
    width:100%;
    height:650px;
}
.container{
  background:#002;
}
.container .text {
    position:absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: -450px;
    width: 50%;
    font-size:17px;
    border-radius:5px;
    color:#fff;
    letter-spacing:1px;
    font-family: 'Copperplate Gothic Light';
}
.img-titre-1{
  opacity:45%;
  Brush Script MT
}
.text .img-titre-2{
  width:25%;
  height:130px;
  margin-top: -60px;
}
.img-logo{
  display:flex;
  align-items:center;
  justify-content:center;
  height:190px;
  margin-top: 80px;
}
.img-logo img{
  width:32%;
  height:120px;
  margin:20px;
}
/*************BLOCK-TEXT "welcom"*******************/
.block-text{
  text-align: center;
  margin-top: 60px;
  display:flex;
  flex-direction:column;
}
.block-text h1{
  font-family: georgia
}
.block-text p{
  text-align:left;
  line-height:35px;
  font-size:19px;
  width:60%;
  margin:auto;
  font-family: georgia;
  color:#1F2A36;
  font-style: italic;
}
/***************CONTAINER 2 ********************/
.container-2 img{
    position: relative;
    width:100%;
    height:584px;
    margin-top: 20px;
}
.container-2 .text-2{
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: -355px;
    color: #fff;
    width: 40%;
    font-size:17px;
    border-radius:5px;
}
.container-2{
  margin-top: 80px;
}
/**************BLOCK-TEXT-2 "text+menu"***************/
.block-text-2,.block-text-3{
  text-align: center;
  margin-top: 80px;
}
.block-text-2 p{
  text-align:center;
  line-height:40px;
  font-size:27px;
  width:70%;
  margin:auto;
  font-style: italic;
  color:#1F2A36;
  font-family: georgia;
}
.ligne{
  width:50%;
  margin-top: 80px;
}
.ligne-2{
  width:50%;
  margin-top:100px;
}
.block-text-3 p{
font-size:40px;
}
/*********CARD******************************/
.card-3{
  display:flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width:20%;
  margin-top: 50px;
  border-radius:10px;
  margin: 40px;
}
.card-3 img{
  height:200px;
  width:100%;
}
.card-flex{
  display:flex;
  justify-content: center;
  margin-top: 20px;

}
.card-flex h1{
  font-size:24px;
  margin-top: 20px;
  font-family: arial;
  text-decoration: underline;
  color: #002F2F;
}
.card-flex p{
  font-size:18px;
  line-height:25px;
  margin-top: 10px;
  color:#1F2A36;
}
.card-flex button{
  margin-top: 15px;
  background:#1F2A36;
  margin-top: 15px;
  width:35%;
  text-align: center;
  color:#fff;
  border-radius:5px;
  font-size:18px
}

.btn-card{
  display:flex;
  justify-content:center;
}
.btn-card button{
  width:200px;
  height:50px;
  background:#1F2A36;
  color:#fff;
  font-size:20px;
  font-family:arial;
  border-radius:10px;
  margin-top: 50px;
}
/****Ce que les gens disent**************/
.block-div{
  display:flex;
  justify-content:center;
  margin-top: 160px;
}
.block-div img{
  width:100%;
  height: 100%;
}
.block-div h1{
  font-size:30px;
}
.block-div p {
  text-align:left;
  font-size: 20px;
  width:80%;
  line-height: 25px
}
.block-div h4{
  margin-top: 20px;
  font-size: 17px;
}
.div-img{
  width:100%;
  margin-top: -50px;
}
.div-text{
  background:black;
  width:100%;
  text-align: center;
  display:flex;
  justify-content:center;
  flex-direction:column;
  color:#fff;
  align-items:center;
  margin-top: -50px;
}
/************CONTAINER-3 "adresse,reservation"**********************/
.container-3 img{
    position: relative;
    width:100%;
    height:600px;
}
.container-3 .text-3{
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: -545px;
    color: #fff;
    width: 70%;
    font-size:17px;
    border-radius:5px;
}
.container-3{
  margin-top: 100px;
}
.container-3 h1{
  margin-top: 40px;
}
.flex h1{
  font-size:17px;
  margin-top: 30px;
}
.flex p{
  color:gold;
}
.flex{
  margin-top: 50px;
  height:340px;
}
/******FOOTER**************************************/
.copyright{
  color:#fff;
  background:black;
  height:80px;
  display:flex;
  justify-content:center;
  margin-top: 120px;
  text-align: center;
  align-items: center;
}
.p-meal{
  font-size: 40px;
  text-align: center;
  margin-top: 80px;
  font-style: italic;
  font-family: georgia;
  color: #1F2A36;
}
.hr-1{
  width:90px;
  height:1px;
  background:#fff;
}
hr{
  width:60px;
}

/* 48em = 768px @ 16pt font */

@media (min-width: 48em) {

  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

}
@media screen and (max-width: 768px){
  
  .header .menu{
    text-align: center;
    height:240px
  }
    .card-flex{
    flex-direction:column;
    align-items: center;
 }
  .card-3{
    width:300px;
  }
  .block-div{
    flex-direction:column;
  }
  .container .text{
    margin-top: -380px;
    width:auto;
  }
  .container img{
<<<<<<< HEAD
    height:630px;
=======
    height:610px;
>>>>>>> 0c7f2ffb939cfe3cae72dc6986fe0a6af27c96ca
  }
  .img-logo{
    display:none;
  }
  .block-text p{
    width:300px;
  }
  .container-2 .text-2{
    margin-top: -360px;
    width:auto;
  }
  .container-3 .text-3{
    margin-top: -550px;
    width:auto;
  }
  
}






